/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {overflow-y: scroll;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}


/* HTML 5 Fix */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}


/* Defaults */
hr {
	display: block;
	border: 0;
	height: 2px;
	margin: 0 10px 40px;
	padding: 0;
}

p:last-child {margin-bottom: 0;}
input, select {vertical-align: middle;}
input[type=button], input[type=submit], button {cursor: pointer; border: 0;}
.left {float: left;}
.right {float: right;}
.center {text-align: center;}
.bold, b, strong {font-weight: bold;}
.italic, i {font-style: italic;}
.normal {font-weight: normal;}
.noselect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.nomargin {margin: 0;}
.hide {display: none;}
.position {position: relative;}
small {font-size: 11px;}

a:link, a:visited, a:active, a {
	text-decoration: none;
	color: #d00d00;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	outline: none;
	}
a:hover {color: #252525;}

/* Effects */
.shadow {
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.glow {
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.fade {
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  	filter: alpha(opacity=100);
  	-moz-opacity: 1.0;
  	-khtml-opacity: 1.0;
  	opacity: 1.0;
}
.fade:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  	filter: alpha(opacity=60);
  	-moz-opacity: 0.6;
  	-khtml-opacity: 0.6;
  	opacity: 0.6;
}

/* Lists */
ul li {margin-bottom: 10px;}
ul.disc {list-style-type: disc; margin-left: 20px;}
ul.square {list-style-type: square; margin-left: 20px;}


/* Placeholder Styles */
::-webkit-input-placeholder {color: #636363;}
:-moz-placeholder {color: #636363;}


/* Text Select */
::selection {background: #FF0084; color: #fff;}
::-moz-selection {background: #464646; color: #fff;}


/* Tables */
table {width: 100%;}
table th, table td {text-align: left;}

/********************************************************************************
			GLOBAL STYLES
********************************************************************************/

body {font-family: "Asap", sans-serif; font-weight: 400; color: #444; -webkit-font-smoothing: antialiased; background: url(../images/gradient_squares.png)}

/* links */
a, a:visited {}
a:hover	{}

/* floats */
.float-left { float: left;}
.float-right { float: right;}

/* typography */
p { margin: 15px 0;}

/* headers */
h1 {font-size: 30px; margin: 20px 0px;}
h2 {font-size: 25px; margin: 15px 0px;}
h3 {font-size: 20px; margin: 10px 0px;}
h4 {font-size: 16px; margin: 6px 0px; font-weight: bold;}

/* errors */
.errors { background: #da0000; font-weight: bold; font-size: 11px; line-height: 21px; color: #ffffff; text-align: center;}

/* google fonts */

/* ********************************** 
	font-family: 'Asap', sans-serif; 
	Normal 400
	Normal 400 Italic
	Bold 700
	Bold 700 Italic
	
*************************************/


/********************************************************************************
			WRAPPERS
********************************************************************************/

.wrapper {}

	.main {}
	
		.content {}
		.sidebar {}

/********************************************************************************
			MASTHEAD CONTENT
********************************************************************************/

.masthead {}

/********************************************************************************
			HERO IMAGES
********************************************************************************/

.hero_image {}

/********************************************************************************
			MAIN NAV
********************************************************************************/

.main_nav {}
	.main_nav li {}
	.main_nav a {}
	.main_nav a:hover {}

/********************************************************************************
		 	CONTENT
********************************************************************************/

h1{text-align: center; border-bottom: 1px dotted #444; font-weight: 400; padding-bottom: 10px;}

.section-header{background: #0063DC; color: #fff; padding: 5px;}

#settings{}
	#widget-size{/* width: 180px; */}
		#widget-size ul{width: 180px;}
		#widget-size li{float: left; margin: 0px 0px 2px 0px;}
		#widget-size li a{float: left; width: 40px; height: 40px; background: #ccc; margin: 2px 5px 2px 0px;}
		#widget-size li a:hover{background: #666;}
	
	#image-size{}
		#image-size ul{margin: 20px 0px; width: 240px;}
		#image-size li{float: left;}
		#image-size a{float: left; background: #ccc; display: block; margin: 0px 5px 0px 0px;}
		#image-size a:hover, #image-size .current{background: #666;}
			#large{width: 100px; height: 100px;}
			#medium{width: 75px; height: 75px;}
			#small{width: 45px; height: 45px;}
			.large-thumbnail{}
		.dimensions{width: 92%; font-size: 14px; text-align: center; padding: 5px; background: #FF0084; color: #fff;}
		
	#scheme-chooser{}
		#scheme-chooser ul{margin: 20px 0px 0px 0px;}
		#scheme-chooser li{float: left;}
		#scheme-chooser li a{float:left; width: 40px; height: 40px; margin: 2px 3px 2px 0px; border: 1px solid #fff; -webkit-box-shadow: 1px 1px 0px 0px #ccc; box-shadow: 1px 1px 0px 0px #ccc;}
		#scheme-chooser li a:hover{-webkit-box-shadow: 1px 3px 0px 0px #ccc; box-shadow: 1px 3px 0px 0px #ccc;}
			.scheme-1{background: #0063DC;}
			.scheme-2{background: #FF0084;}
			.scheme-3{background: #CDE2F3;}
			.scheme-4{background: #666;}
			
		#advanced-options{font-size: 13px;}
			#color-editor{display: none;}
			#advanced-options ul{float: left; margin: 20px 0px 0px 0px;}
				#advanced-options .labels li{margin: 5px 10px 10px 0px;}
				.text-arrow{padding: 0px 0px 0px 10px;}
			#advanced-options li{float: none; height: 20px;}
			#advanced-options input{width: 75px;}
			#advanced-options a{font-size: 14px; text-align: right; display: block;}
				a#apply-colors{padding: 10px; background: #0063DC; float: right; display: inline; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #fff; color: #fff;}
				a#apply-colors:hover{-webkit-box-shadow:  2px 2px 0px 0px #bbb; box-shadow:  2px 2px 0px 0px #bbb;}
	
	#code-output{margin: 20px 0px;}
	#code-output textarea{width: 294px; height: 100px;}
	
#preview{}
	#preview .row{
		border: 1px solid #f00;
	}
	#preview .images{}
	#preview .thumbnail{float: left; margin: 2px 5px;}
	#preview li{float: left; overflow: hidden; width: 110px; height: 110px; margin: 5px 5px 0 0;}
	#preview li img{margin: 0 0 -80px -40px;}

/********************************************************************************
			SIDEBAR
********************************************************************************/

/* add styles here */

/********************************************************************************
			FOOTER
********************************************************************************/

.footer {}

/* Rows */
.row {display: block; width: 100%;}
.row .row {margin:0 -10px; width:auto;}
.row.with-spacing {margin-bottom: 40px;}
* html .row {height: 1%;}


/* Box Widths */
.box-1 {width:40px;}
.box-2 {width:100px;}
.box-3 {width:160px;}
.box-4 {width:220px;}
.box-5 {width:280px;}
.box-6 {width:340px;}
.box-7 {width:400px;}
.box-8 {width:460px;}
.box-9 {width:520px;}
.box-10 {width:580px;}
.box-11 {width:640px;}
.box-12 {width:700px;}
.box-13 {width:760px;}
.box-14 {width:820px;}
.box-15 {width:880px;}
.box-16 {width:940px;}
.box-3.sixth {width:140px;}
.box-5.third{width:300px;}
.box-10.two-third{width:620px;}

.box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8,
.box-9, .box-10, .box-11, .box-12, .box-13, .box-14, .box-15, .box-16,
.box-5.third, .box-10.two-third {
	float: left;
	margin: 0 10px;
}

/* Spacing */
.top10 {margin-top: 10px;}
.top20 {margin-top: 20px;}
.top30 {margin-top: 30px;}
.top40 {margin-top: 40px;}
.bottom10 {margin-bottom: 10px;}
.bottom20 {margin-bottom: 20px;}
.bottom30 {margin-bottom: 30px;}
.bottom40 {margin-bottom: 40px;}
.margin-none{margin: 0px !important;}
.margin-left-none{margin-left: 0px !important}
.margin-right-none{margin-right: 0px !important;}
.margin-bottom-none{margin-bottom: 0px !important;}

/* Clearing */
.clear {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;}
.row:before, .row:after {content: ""; display: block; height: 0; overflow: hidden; visibility: hidden;}
.row:after {clear: both;}

/* Container */
.container {position: relative; width: 960px; margin: 0 auto;}

/* Media Queries */
/* Mobile */
@media only screen and (max-width: 767px), (max-device-width: 767px) {
	* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-text-size-adjust: none;}
	.row img {display: block; max-width: 100%; height: auto;}
	.row .row {margin: 0;}
	.container {width: 100%; padding: 0 20px; overflow: hidden;}
	.box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8,
	.box-9, .box-10, .box-11, .box-12, .box-13, .box-14, .box-15, .box-16,
	.box-3.sixth, .box-5.third, .box-10.two-third {width: 100%; margin: 0 0 20px;}
}

/* iPad */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.row img {display: block; max-width: 100%; height: auto;}
	.container {width: 768px; overflow: hidden;}
	.box-13, .box-14, .box-15, .box-16 {width: 748px;}	
}


/********************************************************************************
			CLEARING ELEMENTS THAT CONTAIN FLOATED ELEMENTS
********************************************************************************/

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */