/********************************************************************************
			GLOBAL STYLES
********************************************************************************/
@blue: #0063DC;
@pink: #FF0084;
@light-blue: #CDE2F3;
@dark-gray: #666;

body {font-family: "Asap", sans-serif; font-weight: 400; color: #444; -webkit-font-smoothing: antialiased; background: url(../images/gradient_squares.png)}

/* links */
a, a:visited {}
a:hover	{}

/* floats */
.float-left { float: left;}
.float-right { float: right;}

/* typography */
p { margin: 15px 0;}

/* headers */
h1 {font-size: 30px; margin: 20px 0px;}
h2 {font-size: 25px; margin: 15px 0px;}
h3 {font-size: 20px; margin: 10px 0px;}
h4 {font-size: 16px; margin: 6px 0px; font-weight: bold;}

/* errors */
.errors { background: #da0000; font-weight: bold; font-size: 11px; line-height: 21px; color: #ffffff; text-align: center;}

/* google fonts */

/* ********************************** 
	font-family: 'Asap', sans-serif; 
	Normal 400
	Normal 400 Italic
	Bold 700
	Bold 700 Italic
	
*************************************/

/********************************************************************************
		 	CONTENT
********************************************************************************/
h1{text-align: center; border-bottom: 1px dotted #444; font-weight: 400; padding-bottom: 10px;}

.section-header{background: @blue; color: #fff; padding: 5px;}

.settings{
	.widget-size{width: 180px;
		li{float: left; margin: 0px 0px 2px 0px;			
			&.highlight{
				a{background: @pink;}
			}
			a{
				float: left; width: 35px; height: 35px; background: #ccc; margin: 2px 5px 2px 0px;
				&:hover{background: @dark-gray;}
			}
		}				
	}
	
	.image-size{
		ul{margin: 20px 0px; width: 240px;}
		li{float: left;}
		a{float: left; background: #ccc; display: block; margin: 0px 5px 0px 0px;}
		a:hover, .image-size .current{background: @dark-gray;}
		.large{width: 100px; height: 100px;}
		.medium{width: 75px; height: 75px;}
		.small{width: 45px; height: 45px;}
		.large-thumbnail{}
		.dimensions{width: 100%; font-size: 14px; text-align: center; padding: 5px; background: @pink; color: #fff;}
	}
	.scheme-chooser{
		ul{margin: 20px 0px 0px 0px;}
		li{float: left;
			a{float:left; width: 40px; height: 40px; margin: 2px 3px 2px 0px; border: 1px solid #fff; -webkit-box-shadow: 1px 1px 0px 0px #ccc; box-shadow: 1px 1px 0px 0px #ccc;
				&:hover{-webkit-box-shadow: 1px 3px 0px 0px #ccc; box-shadow: 1px 3px 0px 0px #ccc;}
			}
		}
				
		.scheme-1{background: @blue;}
		.scheme-2{background: @pink;}
		.scheme-3{background: @light-blue;}
		.scheme-4{background: @dark-gray;}
			
		.advanced-options{font-size: 13px;
			.color-editor{display: none;}
			ul{float: left; margin: 20px 0px 0px 0px;}
			.labels li{margin: 5px 10px 10px 0px;}
				.text-arrow{padding: 0px 0px 0px 10px;}
			li{float: none; height: 20px;}
			input{width: 75px;}
			a{font-size: 14px; display: block;}
			a.apply-colors{width: 60%; padding: 10px; background: @blue; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #fff; color: #fff;
				&:hover{-webkit-box-shadow:  2px 2px 0px 0px #bbb; box-shadow:  2px 2px 0px 0px #bbb;}
			}	
		}
	}
	.code-output{
		textarea{width: 294px; height: 100px;}
	}
}

	
.preview{
	.thumbnail{float: left; margin: 2px 5px;}
	li{float: left; overflow: hidden; width: 110px; height: 110px; margin: 5px 5px 0 0;
		img{margin: 0 0 -80px -40px;}
	}
}